
@{
    ViewData["Title"] = "Erişim Engellendi";
}

<h1>Erişim Engellendi </h1>

<p>
    Bu Ekrana Erişiminiz Bulunmamaktadır !
</p>

<p>
    Ana Sayfaya <a class="btn-outline-info" asp-action="Index" asp-controller="Home" >Geri Dön </a>
</p>

<p> Yetkiniz Olduğunuzu Düşünüyorsanız <a class="btn-outline-success" asp-action="Index" asp-area="Admin" asp-controller="Login" >Giriş Yapın </a> </p>
